@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Purlia Road<br />
        Ranchi, Jharkhand 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        8102320370
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:dipanshuraj9723@gmail.com">Support@example.com</a><br />
       
    </address>
</main>