@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">St Aloysius High School</h1>
        <p class="lead">
            St. Aloysius High School, located in the heart of Ranchi, Jharkhand, India, stands as a beacon of excellence in education and holistic development. Established with the aim of providing quality education to the children of the region, the school has grown to become one of the most prestigious institutions in the area. The institution is named after Saint Aloysius Gonzaga, reflecting its commitment to fostering the values of compassion, integrity, and service among its students.

            Spread over a vast campus, St. Aloysius High School boasts state-of-the-art facilities that cater to the academic, sports, and extracurricular needs of its students. The school's infrastructure includes well-equipped classrooms, science laboratories, a computer lab, a library stocked with a vast collection of books, and playgrounds for various sports. These facilities provide a conducive environment for students to explore their interests, develop their skills, and excel in their chosen fields.

            The academic curriculum at St. Aloysius High School is comprehensive and designed to meet the educational requirements of the modern world while ensuring the all-round development of the students. The school follows a curriculum that encourages inquiry-based learning, critical thinking, and problem-solving skills. The faculty comprises dedicated and experienced educators who are committed to nurturing the intellectual and creative talents of their students. Through personalized attention and mentorship, they strive to create a supportive and inclusive learning environment for all.

            Beyond academics, St. Aloysius High School places a strong emphasis on extracurricular activities, including sports, music, drama, art, and community service. These activities are integral to the school's curriculum, aimed at fostering teamwork, leadership, and social responsibility among students. The school's sports teams have achieved accolades in various inter-school competitions, highlighting the institution's commitment to sporting excellence. Additionally, cultural events and festivals are celebrated with great enthusiasm, promoting cultural awareness and unity among the diverse student body.

            One of the hallmark features of St. Aloysius High School is its commitment to social service and community engagement. The school encourages its students to participate in various community service projects, including environmental conservation efforts, educational programs for the underprivileged, and health awareness campaigns. These initiatives instill a sense of social responsibility and empathy in students, preparing them to be conscientious and active citizens of the world.

            The school's alumni network is a testament to its legacy of excellence. Many former students have gone on to achieve success in various fields, including academics, sports, arts, and public service, contributing positively to society and serving as role models for current students.

            In conclusion, St. Aloysius High School, Ranchi, stands not just as an educational institution but as a nurturing ground for young minds to grow, learn, and become responsible, compassionate, and capable individuals. Through its commitment to excellence in education, holistic development, and social responsibility, the school continues to shape the future leaders of tomorrow, making a significant impact on the community and beyond..
        </p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>*@
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            @*<h2 id="gettingStartedTitle">Getting started</h2>*@
            <img src="~/Content/Images/St ALOYSIUS.jpg" alt="My Image">
            @*<p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </section>
        @*<section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>*@
        @*<section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>*@
    </div>
</main>